<launch>
    <include file = '$(find mobile_hdemg_exo)/launch/emg_core.launch'/>
    <include file = '$(find CORC)/launch/x2_real.launch'/>
    <param name = 'connected_to_exo' value = 'True'/>
    <param name = 'side' value = 'Left' />
    <param name = 'calibrated' value = 'False'/>
    <node name = 'start_can' pkg = 'CORC' type = 'start_can.sh' output = 'screen'/>
    <node name = 'calibrate_node' pkg = 'mobile_hdemg_exo' type = 'calibrate_node.py' output = 'screen'/>
    <node name = 'torque_output_node' pkg = 'mobile_hdemg_exo' type = 'torque_output_node.py' output = 'screen'/>
</launch>
